



.bullet{
	width: 60px;
	height: 60px;
}
.section {
  width: 1050px;
}
.chartItem{
  width: 170px;
}
.cItemDesc{
  width: 170px;
}
.filterButton {
  width: 80px;
}
.mCentColDesc {
  width: 560px;
}
.mCCmtForm .inputTextarea {
  width: 744px;
}
.mCCmtContent {
  width: 625px;
}
.mCGiftContent{
	width: 545px;
}
.mCAlbumPhoto{
	margin-right: 12px;
}
.mCNews{
	width: 920px;
}
.mCNewsContent{
	width: 760px;
}
.mCMapColumn{
	width: 300px;
}
.mCMapDesc{
	width: 250px;
}