
a,
img{
	float: left;
}
#header{
	z-index: 100;
}
#main{
	z-index: 0;
}






/* 
    Header
*/

#location {
	width: 120px;
	height: 36px;
	line-height: 36px;
}
#search input[type="text"] {
	width: 290px;
}
.accLoginForm {
  width: 190px;
  padding-bottom: 25px;
}
.accLoginForm .inputText {
  width: 184px;
}
.accDashSection.updates{
	padding-bottom: 25px;
}






/* 
    Homepage
*/

.section {
  width: 1020px;
}
.bullet{
	width: 58px;
	height: 58px;
}
.chartItem{
  width: 162px;
}
.cItemDesc{
  width: 162px;
}






/* 
    Listing
*/

.filterButton {
  width: 74px;
}
.lItemTitle {
  width: 194px;
}
.lItemDecription {
  width: 194px;
}






/* 
    Detail
*/

.mCardArea{
	padding-bottom: 20px;
}
.mCntTopIntro {
  width: 485px;
}
.mCentColDesc {
  width: 524px;
}
.mRightCol .mColRow{
	min-height: 120px;
}
.mCCmtForm .inputTextarea {
  width: 730px;
}
.mCCmtContent {
  width: 585px;
}
.mCGiftUsers{
	padding-bottom: 5px;
}
.mCGiftContent{
	width: 505px;
}
.mCCmtAvatar img,
.mCGiftAvatar img{
  float: none;
}
.mCScheForm th,
.mCScheForm td {
  padding: 0px 10px;
}
.scheduleButton {
  margin-left: 8px;
}