/*
  Preset styles / Bootstrap
  */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1,
h2,
h3,
p{
    margin: 0px;
    padding: 0px;
    line-height: 1;
}
ul,
li{
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 1;
}
a{
    text-decoration: none;
}
a:hover, 
a:focus {
    text-decoration: underline;
}
img{
    border: none;
}
input,
textarea{
    margin: 0px;
    padding: 0px;
    border: none;
    font-family: 'Microsoft Yahei', 'SimHei', 'Helvetica';
}
body,
html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    margin: 0;
    color: #666666;
    font-family: 'Microsoft Yahei', 'SimHei', 'Helvetica';
    font-size: 14px;
    line-height: 1.428571429;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    background-color: transparent;
}
body{
    background: url(../img/mainBg.jpg);
}
.fullWidth{
    float: left;
    position: relative;
    width: 100%;
    min-width: 1050px;
    margin: 0px;
    padding: 0px;
}
.pageCenter{
    position: relative;
    width: 1050px;
    margin: 0px auto;
}
.hidden{
    display: none;
}
.placeholder{
    color: #aaaaaa;
}
#cboxOverlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
}
#main.artist ~ #colorbox .cboxPhoto {
    border-top: #dd7697 3px solid;
}
#main.performance ~ #colorbox .cboxPhoto {
    border-top: #f7ab00 3px solid;
}
#main.venue ~ #colorbox .cboxPhoto {
    border-top: #7fd4db 3px solid;
}
#colorbox,
#cboxWrapper{
    overflow: visible;
}
#cboxClose{
    width: 44px;
    height: 44px;
    top: -22px;
    right: -22px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -110px -251px;
}
#cboxClose:hover,
#colorbox.artist #cboxClose,
#colorbox.artist #cboxClose:hover{
    background-position: -110px -251px;
}
#colorbox.venue #cboxClose,
#colorbox.venue #cboxClose:hover{
    background-position: -169px -203px;
}
#colorbox.performance #cboxClose,
#colorbox.performance #cboxClose:hover{
    background-position: -219px -203px;
}
#cboxPrevious{
    width: 44px;
    height: 44px;
    top: 48%;
    left: -22px;
    right: auto;
    background: url(../img/sprite.png) no-repeat;
    background-position: -6px -250px;
}
#cboxPrevious:hover,
#colorbox.artist #cboxPrevious,
#colorbox.artist #cboxPrevious:hover{
    background-position: -6px -250px;
}
#colorbox.venue #cboxPrevious,
#colorbox.venue #cboxPrevious:hover{
    background-position: -170px -249px;
}
#colorbox.performance #cboxPrevious,
#colorbox.performance #cboxPrevious:hover{
    background-position: -219px -249px;
}
#cboxNext{
    width: 44px;
    height: 44px;
    top: 48%;
    left: auto;
    right: -22px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -6px -295px;
}
#cboxNext:hover,
#colorbox.artist #cboxNext,
#colorbox.artist #cboxNext:hover{
    background-position: -6px -295px;
}
#colorbox.venue #cboxNext,
#colorbox.venue #cboxNext:hover{
    background-position: -170px -295px;
}
#colorbox.performance #cboxNext,
#colorbox.performance #cboxNext:hover{
    background-position: -219px -295px;
}




/* 
    Header
*/

/*CSS3 Animations*/ 
* {transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; -ms-transition: all 0.2s;}
  
.header_small_trigger {position:absolute; top:100px; width:1px; height:100px;}

#header.small {height:30px;}
#header.small #headerTop {height:0px; font-size:0px;}
#header.small #headerMain {height: 35px; }
#header.small .categoryIcon {
    margin: 3px 0px 9px 28px;
 }
#header.small .categoryTitle {
    display: none;
 }
#header.small .locationIcon {
    height: 28px;
}
#header.small .locationIcon span{
    margin: 4px 12px;
}
#header.small .locChosenTitle{
    line-height: 28px;
 }
#header.small .accountIcon {
    margin: 1px 0px 8px 24px;
 }
#header.small .accountTitle {
    display: none;
 }
#header.small .locDropLeft {
    position: relative;
    top: 14px;
}
#header.small .locationDropdown {
    top: 29px;
 
    padding-top: -1px;
}
#header.small #logo { }
#header.small .accountDropdown {
    top: 35px;
}
#header.small #account {
    height: 35px;
 }
#header.small #categories {
    height: 34px;
 }
#header.small .categoryDropdown {
    top: 34px;
 }
#header.small .categoryHover { }
#header.small .accountHover { }

#header.small #logo { 

}

#header #logo img {
    transition: width 0s; 
    -webkit-transition: width 0s; 
    -moz-transition: width 0s; 
    -o-transition: width 0s; 
    -ms-transition: width 0s;
}

#header.small #logo img {
    width: 110px;
    top: 2px;
    left: 19px;
}

#header.small #location {
    top: 2px;
    height: 30px;
    line-height: 10px!important;
}
#header.small #location .locationChosen { }
#header.small #search  {
    top: 2px;
 
    height: 30px;
}
#header.small #search .submitBg  {
    height: 30px;
}
#header.small #search input[type="submit"]  {
    top: -5px;
}
#header.small #search input  {
    height: 30px;
 
    line-height: 31px;
    padding: 0px 15px;
}

#header {position:fixed; z-index:1000;}

#headerTop{
	height: 22px;
	background-color: #222;
}
#topMenu{
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 12px;
}

#topMenu > li {
  float: left;
  margin: 0px 0px 0px 20px;
  padding: 0px;
  list-style: none;
}

#topMenu > li > a {
	float: left;
	width: 100%;
  margin-right: 2px;
  line-height: 22px;
  color: #eeeeee;
}

#topMenu > li.active > a:hover,
#topMenu > li.active > a:focus {
  color: #555555;
  text-decoration: none;
}



#headerMain{
	height: 80px;
  background-color: #eeeeee;
  border-bottom: #cdcdcd 1px solid; 
}
#categories {
  position: absolute;
  top: 0px;
  left: 0px;
  border-right: #cdcdcd 1px solid;
  width: 85px;
  height: 80px;
  cursor: pointer;
}
.categoryHover {
  float: left;
  width: 100%;
  height: 100%;
}
.categoryIcon{
  float: left;
  margin: 18px 0px 9px 28px;
  width: 27px;
  height: 27px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -2px -66px;
}
.categoryTitle{
  float: left;
  width: 100%;
  font-size: 12px;
  color: #7950b0;
  text-align: center;
}
.categoryDropdown {
  display: none;
  position: absolute;
  top: 80px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: #7950b0;
  z-index: 1000;
}
#categories:hover .categoryHover,
#categories.active .categoryHover{
  background-color: #7950b0;
}
#categories:hover .categoryIcon,
#categories.active .categoryIcon{
  background: url(../img/sprite.png) no-repeat;
  background-position: -34px -66px;
}
#categories:hover .categoryTitle,
#categories.active .categoryTitle{
  color: #ffffff;
}
#categories:hover .categoryDropdown,
#categories.active .categoryDropdown{
  display: block;
}
.catDropMain {
  float: left;
  width: 300px;
  border-bottom: #9572c3 1px solid;
}
.catDropMain .catDropTab {
  float: left;
  position: relative;
  width: 75px;
  height: 50px;
  line-height: 48px;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
}
.catDropMain .catDropTab .catDropTabTopBorder{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
}
.catDropMain .catDropTab:hover,
.catDropMain .catDropTab.active{
  background: url(../img/filterBg.png);
}
.catDropMain .catDropTab.artist:hover .catDropTabTopBorder,
.catDropMain .catDropTab.artist.active .catDropTabTopBorder{
  background-color: #dd7697;
}
.catDropMain .catDropTab.venue:hover .catDropTabTopBorder,
.catDropMain .catDropTab.venue.active .catDropTabTopBorder{
  background-color: #f7ab00;
}
.catDropMain .catDropTab.performance:hover .catDropTabTopBorder,
.catDropMain .catDropTab.performance.active .catDropTabTopBorder{
  background-color: #7fd4db;
}
.catDropMain ul {
  float: left;
  border-bottom: #6b4a95 1px solid;
}
.catDropList {
  float: left;
  padding: 20px 5px 25px 12px;
  width: 300px;
}
.catDropList .catDropListItem {
  float: left;
  display: inline-block;
  background-color: #8762b8;
  color: #eeeeee;
  padding: 3px 4px;
  margin: 0px 5px 9px 0px;
  font-size: 12px;
}
.catDropList.artist .catDropListItem.venue,
.catDropList.artist .catDropListItem.performance,
.catDropList.performance .catDropListItem.artist,
.catDropList.performance .catDropListItem.venue,
.catDropList.venue .catDropListItem.artist,
.catDropList.venue .catDropListItem.performance{
  display: none;
}
#account {
  position: absolute;
  top: 0px;
  right: 0px;
  border-left: #cdcdcd 1px solid;
  width: 85px;
  height: 80px;
}
.accountHover {
  float: left;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.accountIcon{
  float: left;
  margin: 15px 0px 8px 24px;
  width: 37px;
  height: 30px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -67px -66px;
}
.accountTitle{
  float: left;
  width: 100%;
  font-size: 12px;
  color: #7950b0;
  text-align: center;
}
#account:hover .accountHover,
#account.active .accountHover{
  background-color: #7950b0;
}
#account:hover .accountIcon,
#account.active .accountIcon{
  background: url(../img/sprite.png) no-repeat;
  background-position: -113px -66px;
}
#account:hover .accountTitle,
#account.active .accountTitle{
  color: #ffffff;
}
#account:hover .accountDropdown,
#account.active .accountDropdown{
  display: block;
}
.accountDropdown {
  display: none;
  position: absolute;
  top: 80px;
  right: 0px;
  width: auto;
  height: auto;
  background-color: #7950b0;
  z-index: 1000;
}
.accDropLogin {
  float: left;
  width: 250px;
}
.accDropLogin.inactive{
  display: none;
}
.accLoginTitle {
  float: left;
  margin: 10px 0px;
  width: 100%;
  text-align: center;
  color: #eeeeee;
  font-size: 12px;
}
.accLoginForm {
  float: left;
  border: none;
  padding: 0px 30px;
  width: 250px;
}
.accLoginForm .inputText {
  float: left;
  margin-bottom: 10px;
  padding: 0px 3px;
  border: none;
  width: 190px;
  height: 25px;
  line-height: 23px;
  font-size: 12px;
}
.accLoginForm .inputText.placeholder{
  color: 
}
.accLoginForm .inputButton {
  float: left;
  margin-bottom: 25px;
  width: 190px;
  background-color: #333333;
  height: 25px;
  line-height: 22px;
  color: #eeeeee;
  font-size: 13px;
  cursor: pointer;
}
/*.accLoginForm .inputCheckbox {
  float: right;
  margin-right: 6px;
  line-height: 20px;
}
.accLoginForm .inputCheckLabel {
  float: right;  
  line-height: 20px;
  color: #eeeeee;
  font-weight: normal;
  width: auto;
  height: 20px;
  font-size: 12px;
}*/
#forgotPassword {
  float: left;
  margin: 0px 0px 10px;
  width: 190px;
  color: #eeeeee;
  font-size: 12px;
  text-align: right;
}
.accDropPassword {
  float: left;
  width: 250px;
  display: none;
}
.accDropPassword.active{
  display: block;
}
.accDropDashboard{
  float: left;
  width: 250px;
}
.accDropDashboard.inactive{
  display: none;
}
.accDropSettings {
  float: left;
  width: 250px;
  display: none;
}
.accDropSettings.active{
  display: block;
}
.accAvatar {
  float: left;
  position: relative;
  width: 114px;
  height: 114px;
  margin: 30px 68px 10px;
  overflow: hidden;
}
.accAvatarMask{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 114px;
  height: 114px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -165px -3px;
  z-index: 10;
}
.accUsername {
  float: left;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #eeeeee;
}
.accDashSection{
  float: left;
  width: 100%;
  border-top: #9572c3 1px solid;
  border-bottom: #6b4a95 1px solid;
}
.accDashSection.avatar{
  border-top: none;
}
.accDashSection.udpates{
  border-bottom: none;
}
.accDashSection.settings {
  position: relative;
  height: 40px;
  font-size: 12px;
  color: #eeeeee;
}
.accDropDashboard .accDashSection.settings {
  cursor: pointer;
}
.accDropSettings .accDashSection.settings{
  height: auto;
}
.accSetTitle {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 10px;
  text-align: center;
}
.accSetIcon {
  position: absolute;
  top: 12px;
  left: 95px;
  width: 14px;
  height: 14px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -147px -218px;
}
.accUpdateTitle {
  float: left;
  width: 100%;
  font-size: 18px;
  color: #eeeeee;
  text-align: center;
  margin: 15px 0px;
}
.accUpdateListing {
  float: left;
  width: 230px;
  height: 200px;
  margin: 0px 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
}
.accUpdateItem {
  float: left;
  width: 215px;
  padding: 10px 0px 10px 15px;
  font-size: 12px;
  line-height: 18px;
}
.accUpdateItem.artist {
  border-left: #dd7697 5px solid;
}
.accUpdateItem.performance {
  border-left: #f7ab00 5px solid;
}
.accUpdateItem.venue {
  border-left: #7fd4db 5px solid;
}
.accUpItemMain {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
.accUpItemInfo {
  float: left;
  color: #f7ab00;
}

#logo img {
    width: 200px;
 
    position: relative;
    top: 15px;
}
#logo {
  position: absolute;
  top: 2px;
  left: 80px;
  width: 84px;
  height: 75px;
}
#location {
  position: absolute;
  top: 20px;
  left: 320px;
  width: 120px;
  height: 38px;
  border: #cdcdcd 1px solid;
  text-align: center;
  line-height: 38px;
}
.locationChosen {
  float: left;
  width: 80px;
  height: 38px;
  line-height: 36px;
  font-size: 12px;
  cursor: pointer;
}
.locChosenId {
  display: none;
}
.locationIcon {
  float: right;
  position: relative;
  width: 38px;
  height: 36px;
  background-color: #cdcdcd;
  cursor: pointer;
}
.locationIcon span {
  float: left;
  margin: 9px 12px;
  width: 14px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -42px -102px;
}
.locationDropdown {
  display: none;
  position: absolute;
  top: 37px;
  left: -1px;
  width: auto;
  height: auto;
  background-color: #e3e3e3;
  z-index: 1000;
}
#location:hover .locationDropdown,
#location.active .locationDropdown{
  display: block;
}
.locDropBlock {
  float: left;
  width: 300px;
  border-top: #f0f0f0 1px solid;
  border-bottom: #cbcbcb 1px solid;
}
.locDropLeft {
  float: left;
  width: 90px;
  font-size: 13px;
}
.locDropRight {
  float: left;
  padding: 10px 0px 5px;
  width: 208px;
}
.locDropBlock .locDropItem {
  float: left;
  min-width: 46px;
  text-align: left;
  margin: 0px 5px 4px 0px;
  cursor: pointer;
  font-size: 12px;
}
.locDropBlock .locDropItem span{
  float: left;
  padding: 3px 4px;
}
.locDropBlock .locDropItem:hover span,
.locDropBlock .locDropItem.active span{
  background-color: #eeeeee;
}
#search {
  position: absolute;
  top: 20px;  
  left: 480px;  
  width: 340px;  
  height: 40px;
  text-align: center;  
  line-height: 40px;
}
#search input[type="text"] {
  float: left;
  padding: 0px 5px;
  width: 300px;
  height: 38px;
  line-height: 38px;
  font-size: 13px;
}
#search .submitBg{
  float: right;
  width: 40px;
  height: 38px;
  background-color: #7950b0;
}
#search input[type="submit"] {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 38px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -1px -125px;
  cursor: pointer;
}





/* 
    Footer
*/

#footer .footerLogo img {
    top: 11px;
    position: relative;
    width: 210px;
    left: -50px;
}

#footer{
  background-color: #222222;
}
.footerTop {
  float: left;
  width: 100%;
  height: 110px;
  border-bottom: #000000 1px solid;
  overflow: hidden;
}
.footerBottom {
  float: left;
  width: 100%;
  height: 48px;
  border-top: #393939 1px solid;
  overflow: hidden;
}
.footerLogo {
  position: absolute;
  top: 18px;
  left: 390px;
}
.footerSlogan {
  position: absolute;  
  top: 28px;  
  left: 578px;
  color: #eeeeee;
  font-size: 16px;
  line-height: 24px;
}
.footerToTop {
  position: absolute;
  top: 38px;
  right: 0px;
  width: 34px;
  height: 34px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -61px -98px;
  cursor: pointer;
}
.footerLinks {
    float: left;
    height: 48px;
}
li.fLinkItem {
    float: left;
    margin-right: 25px;
    line-height: 45px;
}
li.fLinkItem a{
  font-size: 12px;
  color: #eeeeee;
  text-decoration: none;
}
li.fLinkItem a:hover{
  text-decoration: underline;
}
.copyright {
  float: right;
  line-height: 45px;
  color: #eeeeee;
  font-size: 12px;
}







/* 
    Homepage
*/

#main{
  margin-top: 80px;
  padding-bottom: 40px;
}
.section {
  float: left;
  position: relative;
  width: 1050px;
  padding: 0px 15px;
}
.section.slideshow {
  margin-top: 60px;
}
.slideImages {
  float: left;
  position: relative;
  width: 1020px;
  height: 360px;
  overflow: hidden;
}
.slideImage {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
.slideImage.artist {
  border-top: #dd7697 3px solid;
}
.slideImage.performance{
  border-top: #f7ab00 3px solid;
}
.slideImage.venue{
  border-top: #7fd4db 3px solid;
}
.slideImage.active {
  display: block;
  z-index: 100;
}
.bullets {
  float: left;
  position: relative;
  width: 1020px;
  height: 60px;
  background-color: #ffffff;
}
.bullet {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}
.bullet.artist{
  border: #dd7697 1px solid;
  background-color: #dd7697;
}
.bullet.performance{
  border: #f7ab00 1px solid;
  background-color: #f7ab00;
}
.bullet.venue{
  border: #7fd4db 1px solid;
  background-color: #7fd4db;
}
.slideDesc {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px 5px 0px 30px;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  z-index: 0;
  overflow: hidden;
}
/*.bullet,
.slideDesc{
  transition: left 0s;
  -moz-transition: left 0s;
  -webkit-transition: left 0s;
  -o-transition: left 0s;
}*/
.section.slideshow.artist .slideDesc{
  color: #dd7697;
}
.section.slideshow.performance .slideDesc{
  color: #7fd4db;
}
.section.slideshow.venue .slideDesc{
  color: #f7ab00;
}
.sectionTitle {
  float: left;
  position: relative;
  margin-top: 40px;
  width: 100%;
  height: 92px;
  text-align: center;
}
.sectionTitleBg {
  position: absolute;
  top: 0px;
  left: 365px;
  width: 330px;
  height: 90px;
  z-index: -1;
}
.titleStars {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 120px;
  height: 44px;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px 0px;
}
.titleStripe1 {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 80px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: 0px -45px;
}
.titleStripe2 {
  position: absolute;
  top: 60px;
  right: 0px;
  width: 80px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -77px -45px;
}
.sectionTitle h2 {
  float: left;
  width: 100%;
  margin-top: 55px;
  font-size: 30px;
  color: #7950b0;
}


.section.charts {
  margin-top: 40px;
}
.chartLeft{
  float: left;
  margin-right: 16px;
  width: 170px;
}
.chartTitle {
  float: left;
  border-bottom: #2c2c2c 1px solid;
  width: 170px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  color: #ffffff;
}
.chartTitle a {
  float: left;
  width: 170px;
  height: 100%;
  color: #ffffff;
}
.chartTitle a:hover{
  text-decoration: none;
}
.section.artist .chartTitle{
  background-color: #dd7697;
}
.section.venue .chartTitle{
  background-color: #7fd4db;
}
.section.performance .chartTitle{
  background-color: #f7ab00;
}
.chartItems {
  float: left;
  width: 170px;
  background-color: #333333;
  color: #eeeeee;
}
.chartItems ul{
  display: none;
}
.chartItems ul.active{
  display: block;
}
.chartItem{
  float: left;
  padding: 4px;
  border-top: #4d4d4d 1px solid;
  border-bottom: #2c2c2c 1px solid;
  min-height: 24px;
  width: 170px;
  cursor: pointer;
}
.chartItem.last{
  border-bottom: none;
}
.cItemNumber{
  float: left;
  margin: 0px 10px 0px 4px;
  width: 24px;
  height: 24px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -2px -97px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}
.cItemTitle {
  float: left;
  width: 124px;
  line-height: 20px;
}
.cItemDetail{
  display: none;
  float: left;
  width: 170px;
}
.cItemRating {
  float: left;
  margin: 20px 0px 5px;
}
.cItemDesc {
  float: left;
  padding: 0px 8px 20px;
  font-size: 12px;
  line-height: 18px;
}
.chartItem:hover .cItemDetail,
.chartItem.selected .cItemDetail{
  display: block;
}

.chartRight {
  float: left;
  position: relative;
  width: 834px;
}
.chartFilters {
  position: absolute;
  width: auto;
  height: auto;
  top: 0px;
  right: 0px;
  border-bottom: #f7f7f7 1px solid;
  font-size: 16px;
}
.section.artist .chartFilters {
  color: #dd7697;
}
.section.performance .chartFilters {
  color: #f7ab00;
}
.section.venue .chartFilters {
  color: #7fd4db;
}
.chartFilters ul {
  float: left;
  border-bottom: #d7d7d7 1px solid;
}
.chartFilters li {
  float: left;
  position: relative;
  cursor: pointer;
}
.chartFilters li span.cFilterTitle {
  float: left;
  padding: 15px 16px 18px;
  width: 100%;
}
.chartFilters li span.cFilterTopBorder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 3px;
}
.chartFilters li:hover span,
.chartFilters li.active span{
  background: url(../img/filterBg.png) repeat;
}
.section.artist .chartFilters li:hover span.cFilterTopBorder,
.section.artist .chartFilters li.active span.cFilterTopBorder{
  background-color: #dd7697;
}
.section.venue .chartFilters li:hover span.cFilterTopBorder,
.section.venue .chartFilters li.active span.cFilterTopBorder{
  background-color: #7fd4db;
}
.section.performance .chartFilters li:hover span.cFilterTopBorder,
.section.performance .chartFilters li.active span.cFilterTopBorder{
  background-color: #f7ab00;
}
.chartDisplays {
  float: left;
  position: relative;
  margin-top: 96px;
  width: 100%;
  display: none;
}
.chartDisplays.active{
  display: block;
}
.chartDisplay{
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  /*background-color: #333333;*/
}
.cDispTopBorder {
  float: left;
  width: 100%;
  height: 3px;
  background: url(../img/transBg.png) repeat;
}
.cDispImage{
  float: left;
}
.section.artist .chartDisplay:hover .cDispTopBorder,
.section.artist .chartDisplay.selected .cDispTopBorder{
  background-color: #dd7697;
  background-image: none;
}
.section.venue .chartDisplay:hover .cDispTopBorder,
.section.venue .chartDisplay.selected .cDispTopBorder{
  background-color: #7fd4db;
  background-image: none;
}
.section.performance .chartDisplay:hover .cDispTopBorder,
.section.performance .chartDisplay.selected .cDispTopBorder{
  background-color: #f7ab00;
  background-image: none;
}
.chartDisplay-1 {
  top: 0px;
  left: 0px;
  width: 205px;
  height: 365px;
}
.chartDisplay-2 {
  top: 0px;
  left: 215px;
  width: 255px;
  height: 165px;
}
.chartDisplay-3 {
  top: 175px;
  left: 215px;
  width: 140px;
  height: 190px;
}
.chartDisplay-4 {
  top: 175px;
  left: 365px;
  width: 105px;
  height: 190px;
}
.chartDisplay-5 {
  top: 0px;
  left: 480px;
  width: 140px;
  height: 365px;
}
.chartDisplay-6 {
  top: 0px;
  left: 630px;
  width: 105px;
  height: 115px;
}
.chartDisplay-7 {
  top: 0px;
  left: 745px;
  width: 90px;
  height: 115px;
}
.chartDisplay-8 {
  top: 125px;
  left: 630px;
  width: 205px;
  height: 120px;
}
.chartDisplay-9 {
  top: 255px;
  left: 630px;
  width: 85px;
  height: 110px;
}
.chartDisplay-10 {
  top: 255px;
  left: 725px;
  width: 110px;
  height: 110px;
}








/* 
    Listing
*/

.section.filters {
  float: left;
  margin: 40px 15px 30px;
  padding: 0px;
  width: 1020px;
  height: 40px;
  background-color: #333333;
  color: #eeeeee;
  line-height: 38px;
  z-index: 10;
}
.filterLeft {
  float: left;
  width: 860px;
}
.filterLabel {
  float: left;
  width: 80px;
  text-align: center;
}
.filterKeywords {
  float: left;
  padding: 8px 0px;
  height: 24px;
  line-height: 24px;
}
.filterKeyword {
  float: left;
  position: relative;
  margin-right: 10px;
  padding: 0px 30px 0px 10px;
  background-color: #7750ac;
  color: #eeeeee;
  height: 24px;
  line-height: 23px;
}
.fKeywordClose {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 14px;
  height: 14px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -100px -105px;
  cursor: pointer;
}
.filterButtons {
  float: right;
  width: 160px;
}
.filterButton {
  float: left;
  position: relative;
  padding-left: 6px;
  width: 80px;
  height: 40px;
  line-height: 39px;
  cursor: pointer;
}
.filterButton.filter{
  background-color: #eeac1e;
}
.filterButton.reset{
  background-color: #dd7698;
}
.filterButton.filter .fButtonIcon{
  margin: 14px 13px 10px 0px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -121px -107px;
}
.filterButton.reset .fButtonIcon{
  margin: 13px 13px 10px 0px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -139px -106px;
}
.filterButton .fButtonTitle {
  float: left;
  margin: 0px 0px 0px 8px;
}
.filterButton .fButtonIcon {
  float: right;
  width: 14px;
  height: 14px;
}
.filterDropdown {
  display: none;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 80px;
  height: 120px;
  background-color: #eeac1e;
  z-index: 100;
}
.filterButton.filter:hover .filterDropdown,
.filterButton.filter.active .filterDropdown{
  display: block;
}
.filterDropdown .fDropCheckbox{
  float: left;
  width: 15px;
  height: 40px;
  line-height: 40px;
  margin: 0px 5px 0px 10px;
  cursor: pointer;
}
.filterDropdown .fDropLabel{
  float: left;
  width: 50px;
  height: 40px;
  line-height: 36px;
  cursor: pointer;
}
.section.listing {
  float: left;
  width: 1050px;
  margin: 0px 0px 35px 0px;
  z-index: 0;
}
.listingTitle {
  float: left;
  position: relative;
  width: 100%;
  height: 24px;
  line-height: 23px;
  text-align: center;
  font-size: 22px;
}
.section.listing.artist .listingTitle{
  color: #dd7697;
}
.section.listing.performance .listingTitle{
  color: #7fd4db;
}
.section.listing.venue .listingTitle{
  color: #f7ab00;
}
.listingLine {
  position: absolute;
  top: 10px;
  width: 380px;
  height: 2px;
}
.listingLine.left {
  left: 0px;
}
.listingLine.right {
  right: 0px;
}
.section.listing.artist .listingLine{
  background-color: #dd7697;
}
.section.listing.performance .listingLine{
  background-color: #7fd4db;
}
.section.listing.venue .listingLine{
  background-color: #f7ab00;
}
.listingMain {
  float: left;
  position: relative;
  margin-top: 30px;
  width: 100%;
}
.listingItems .listingRow {
  float: left;
  margin-bottom: 30px;
  width: 1020px;
}
.listingItems .listingItem{
  float: left;
  width: 210px;
  margin: 0px 22px 0px 23px;
  background-color: #ffffff;
}
.lItemCover {
  float: left;
  width: 210px;
  overflow: hidden;
}
.lItemCover img {
  float: left;
}
.lItemTitle {
  float: left;
  width: 210px;
  font-size: 16px;
  line-height: 18px;
  margin: 8px 0px;
  padding: 0px 8px;
}
.section.listing.artist .lItemTitle a{
  color: #dd7697;
}
.section.listing.performance .lItemTitle a{
  color: #7fd4db;
}
.section.listing.venue .lItemTitle a{
  color: #f7ab00;
}
.lItemDecription {
  float: left;
  width: 210px;
  padding: 0px 8px;
  margin-bottom: 8px;
  font-size: 12px;
}
.lItemRating {
  float: left;
  width: 210px;
  height: 20px;
  margin-bottom: 6px;
}
.lItemBottomBorder {
  float: left;
  width: 210px;
  height: 3px;
}
.section.listing.artist .lItemBottomBorder {
  background-color: #dd7697;
}
.section.listing.performance .lItemBottomBorder {
  background-color: #7fd4db;
}
.section.listing.venue .lItemBottomBorder {
  background-color: #f7ab00;
}
.rStarGroup {
  float: left;
  width: 80px;
  height: 16px;
  margin-left: 8px;
}
.rStar {
  float: left;
  width: 15px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat;
}
.rStar.rStarFull{
  background-position: -71px -137px;
}
.rStar.rStarHalf{
  background-position: -86px -137px;
}
.rStar.rStarEmpty{
  background-position: 0px 0px;
}
.listingLoader {
  float: left;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.lLoaderButton{
  position: relative;
  margin: 0px auto;
  border: #dddddd 1px solid;
  width: 140px;
  height: 30px;
  line-height: 27px;
  background-color: #eeeeee;
  cursor: pointer;
}
.lLoaderTitle {
  float: left;
  width: 110px;
  height: 30px;
}
.lLoaderRight {
  position: absolute;
  top: -1px;
  right: -1px;
  border: #dddddd 1px solid;
  width: 30px;
  height: 30px;
  background-color: #e3e3e3;
}
.lLoaderIcon {
  position: absolute;
  top: 5px;
  right: 6px;
  z-index: 10;
  border: #dddddd 1px solid;
  width: 16px;
  height: 16px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -48px -137px;
}








/* 
    Detail
*/

.section.banner {
  margin-top: 57px;
}
.bannerTopBorder {
  float: left;
  width: 1020px;
  height: 3px;
}
#main.artist .bannerTopBorder {
  background-color: #dd7697;
}
#main.performance .bannerTopBorder {
  background-color: #f7ab00;
}
#main.venue .bannerTopBorder {
  background-color: #7fd4db;
}
.mainHeader {
  float: left;
  width: 1020px;
  height: 80px;
  line-height: 80px;
}
.mainTitle h1 {
  float: left;
  line-height: 80px;
  font-size: 30px;
}
#main.artist .mainTitle h1 {
  color: #dd7697;
}
#main.performance .mainTitle h1 {
  color: #f7ab00;
}
#main.venue .mainTitle h1 {
  color: #7fd4db;
}
.mainRating {
  float: right;
  height: 20px;
  margin-top: 32px;
}
.mainRating .rStarGroup {
  float: right;
}
.mainRating .rStarLabel {
  float: right;
  line-height: 1;
  margin-right: 12px;
}
.mainBody {
  float: left;
  width: 1020px;
  margin-bottom: 30px;
}
.mLeftCol {
  float: left;
  width: 170px;
  margin-right: 40px;
  background-color: #f9f9f9;
}
.mCenterCol {
  float: left;  
  width: 560px;  
  margin-right: 40px;
  background-color: #f9f9f9;
}
.mRightCol {
  float: left;
  width: 210px;
  background-color: #f9f9f9;
}
#main.artist .mLeftCol,
#main.artist .mCenterCol,
#main.artist .mRightCol {
  border-top: #dd7697 5px solid;
}
#main.performance .mLeftCol,
#main.performance .mCenterCol,
#main.performance .mRightCol {
  border-top: #f7ab00 5px solid;
}
#main.venue .mLeftCol,
#main.venue .mCenterCol,
#main.venue .mRightCol {
  border-top: #7fd4db 5px solid;
}
.mColTitle {
  float: left;
  width: 100%;
  height: 44px;
  font-size: 16px;
  text-align: center;
  line-height: 42px;
}
#main.artist .mColTitle,
#main.artist .mCntTopLabel {
  color: #dd7697;
}
#main.performance .mColTitle,
#main.performance .mCntTopLabel {
  color: #f7ab00;
}
#main.venue .mColTitle,
#main.venue .mCntTopLabel {
  color: #7fd4db;
}
.mColRows {
  float: left;
  width: 100%;
}
.mColRow {
  float: left;
  position: relative;
  border-bottom: #dedede 1px solid;
  width: 100%;
  line-height: 50px;
}
.mLeftCol .mColRow{
  height: 50px;
}
.mColRow.last{
  border: none;
}
.mColIcon {
  position: absolute;
  top: 11px;
  left: 15px;
  width: 33px;
  height: 30px;
  background: url(../img/sprite.png) no-repeat;
}
.mColRow.comment .mColIcon{
  background-position: -41px -168px;
}
.mColRow.gift .mColIcon{
  background-position: -5px -168px;
}
.mColRow.rating .rStarGroup{
  position: absolute;
  top: 16px;
  left: 8px;
}
.mColLabel {
  float: right;
  font-size: 12px;
  margin-right: 16px;
  font-weight: bold;
}
.mCntTopLabel {
  float: left;  
  width: 65px;
  font-size: 16px;
  text-align: center;
  line-height: 42px;
}
.mCntTopIntro {
  float: left;
  width: 495px;
  margin-top: 9px;
  padding-right: 10px;
}
.mCntTopButton {
  float: right;
  position: relative;
  margin-right: 16px;
  width: 140px;
  height: 28px;
  line-height: 26px;
  cursor: pointer;
}
#main.artist .mCntTopButton {
  background-color: #dd7697;
}
#main.performance .mCntTopButton {
  background-color: #f7ab00;
}
#main.venue .mCntTopButton {
  background-color: #7fd4db;
}
.mCntColTop {
  float: left;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: #dedede 1px solid;
  width: 560px;
}
.mCntBtnTitle {
  float: left;
  margin-left: 30px;
  color: #ffffff;
}
.mCntBtnIcon {
  float: right;
  width: 16px;
  height: 14px;
  margin: 7px 15px 0px 0px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -108px -137px;
}
.mCentColDesc {
  float: left;
  padding: 0px 18px 20px;
  width: 560px;
}
.mRefItem {
  float: left;
  width: 100%;
}
.mRefCover {
  float: left;
  margin: 10px;
}
.mRefInfo {
  float: left;
  padding: 7px 0px;
  width: 120px;
}
.mRefTitle {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  line-height: 18px;
  font-size: 14px;
}
#main.artist .mRefTitle a {
  color: #dd7697;
}
#main.performance .mRefTitle a {
  color: #f7ab00;
}
#main.venue .mRefTitle a {
  color: #7fd4db;
}
.mRefRating .rStarGroup {
  margin: 0px;
}
.mTabArea {
  float: left;
  width: 100%;
}
.section.mainTabs {
  margin-top: 30px;
}
.mTab {
  float: left;
  padding: 15px 30px;
  color: #ffffff;
  cursor: pointer;
}
.mTab.active {
  background-color: #f9f9f9;
  cursor: default;
}
#main.artist .mTab {
  background-color: #dd7697;
}
#main.performance .mTab {
  background-color: #f7ab00;
}
#main.venue .mTab {
  background-color: #7fd4db;
}
#main.artist .mTab.active {
  color: #dd7697;
  background-color: #f9f9f9;
}
#main.performance .mTab.active {
  color: #f7ab00;
  background-color: #f9f9f9;
}
#main.venue .mTab.active {
  color: #7fd4db;
  background-color: #f9f9f9;
}
.mCardArea {
  float: left;
  width: 100%;
  background-color: #f9f9f9;
}
.mCard{
  float: left;
  width: 100%;
  display: none;
}
.mCard.active{
  display: block;
}
.mCard.comment{
  float: left;
  width: 770px;
}
.mCCmtForm {
  float: left;
  width: 770px;
}

.mCCmtReplyBox .mCCmtForm .inputTextarea {
    float: none; 
    margin: 20px 0px 10px 0px; padding: 5px 8px; 
    width: 585px; height: 100px; 
    background-color: white; font-size: 16px; line-height: 30px; text-align: left; resize: none;
    
}
.mCCmtReplyBox .mCCmtForm  {
    float: none; 
    width: 585px;
    margin: 0px 0px 49px 0px;
}
.mCCmtReplyBox.active   {
    display:block;
 }
.mCCmtReplyBox   {
    display:none;
 }


.mCCmtForm .inputTextarea {
  float: left;
  margin: 45px 25px;
  padding: 5px 8px;
  width: 747px;
  height: 100px;
  background-color: #eeeeee;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  resize: none;
}
#main.artist .mCCmtForm .inputTextarea {
  color: #dd7697;
}
#main.performance .mCCmtForm .inputTextarea {
  color: #f7ab00;
}
#main.venue .mCCmtForm .inputTextarea {
  color: #7fd4db;
}
.mCmtSubmit {
  float: right;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
#main.artist .mCCmtForm .mCmtSubmit {
  background-color: #dd7697;
}
#main.performance .mCCmtForm .mCmtSubmit {
  background-color: #f7ab00;
}
#main.venue .mCCmtForm .mCmtSubmit {
  background-color: #7fd4db;
}
.mCmtSubmit input[type="submit"] {
  padding-right: 35px;
  width: 140px;
  height: 35px;
  color: #ffffff;
  background: url(../img/sprite.png) no-repeat;
  background-position: 1px -206px;
  cursor: pointer;
}
.mCmtFollow {
  float: right;
  padding-top: 6px;
}
.mCmtFollow input[type="checkbox"] {
  float: right;
  margin-right: 20px;
  height: 24px;
}
.mCmtFollow label {
  float: right;
  margin-right: 10px;
  font-weight: normal;
}
#main.artist .mCmtFollow label {
  color: #dd7697;
}
#main.performance .mCmtFollow label {
  color: #f7ab00;
}
#main.venue .mCmtFollow label {
  color: #7fd4db;
}
.mCCmtSummary {
  float: left;
  margin: 35px 0px;
  padding-left: 25px;
  width: 100%;
  font-size: 12px;
}
.mCCmtHistory {
  float: left;
}
.mCCmtItem {
  float: left;
  width: 745px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.mCCmtAccount {
  float: left;
  width: 120px;
  text-align: center;
}
.mCCmtUsername {
  float: left;
  width: 100%;
  font-size: 12px;
  margin: 5px 0px;
}
.mCCmtContent {
  float: left;
  width: 625px;
  background-color: #eeeeee;
  padding: 15px 20px 5px;
  font-size: 13px;
}
.mCCmtText {
  float: left;
  margin-bottom: 10px;
}
.mCCmtText a{
  color: #7950b0;
}
.mCCmtNo {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  color: #818181;
}
.mCCmtDate {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  color: #818181;
}
.mCCmtReply {
  float: right;
  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 3px;
  color: #818181;
  background: url(../img/sprite.png) no-repeat;
  background-position: -134px -138px;
  cursor: pointer;
}
.mCard.gift,
.mCGiftDisplay {
  float: left;  
  width: 770px;
}
.mCGiftUsers {
  float: left;
  margin: 40px 0px 0px 25px;
  padding: 5px 0px 0px 5px;
  width: 745px;
  background-color: #eeeeee;
}
.mCGiftUser {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}
.mCGiftSend {
  float: right;
  margin-top: 10px;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
#main.artist .mCGiftSend {
  background-color: #dd7697;
}
#main.performance .mCGiftSend {
  background-color: #f7ab00;
}
#main.venue .mCGiftSend {
  background-color: #7fd4db;
}
.mCGiftSubmit {
  padding-right: 35px;
  width: 140px;
  color: #ffffff;
  background: url(../img/sprite.png) no-repeat;
  background-position: 15px -206px;
}
.mCGiftSummary{
  float: left;
  margin: 35px 0px;
  padding-left: 25px;
  width: 100%;
  font-size: 12px;
}
.mCGiftHistory {
  float: left;
}
.mCGiftItem {
  float: left;
  width: 745px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.mCGiftAccount {
  float: left;
  width: 120px;
  text-align: center;
}
.mCGiftUsername {
  float: left;
  width: 100%;
  font-size: 12px;
  margin: 5px 0px;
}
.mCGiftContent {
  float: left;
  width: 545px;
  padding: 0px 20px;
  font-size: 13px;
}
.mCGiftText {
  float: left;
  margin-bottom: 10px;
}
.mCGiftText a{
  color: #7950b0;
}
.mCGiftNo {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  color: #818181;
}
.mCGiftDate {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  color: #818181;
}
.mCGiftToken {
  float: right;
  /*width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 3px;
  color: #818181;
  background: url(../img/sprite.png) no-repeat;
  background-position: -134px -138px;*/
}
.mCAlbum {
  float: left;
  margin: 20px 0px 10px;
  width: 100%;
}
.mCard.album {
  padding: 20px 0px;
}
.mCAlbumTitle {
  float: left;
  margin: 0px 25px 15px;
  font-weight: bold;
}
#main.artist .mCAlbumTitle {
  color: #dd7697;
}
#main.performance .mCAlbumTitle {
  color: #f7ab00;
}
#main.venue .mCAlbumTitle {
  color: #7fd4db;
}
.mCAlbumPhotos {
  float: left;
  width: 100%;
  padding-left: 20px;
}
.mCAlbumPhoto {
  float: left;
  margin: 0px 20px 20px;
  cursor: pointer;
}
.mCVideo {
  float: left;
  margin: 20px 0px 10px;
  width: 100%;
}
.mCard.video {
  padding: 20px 0px;
}
.mCVideoTitle {
  float: left;
  margin: 0px 25px 15px;
  font-weight: bold;
}
#main.artist .mCVideoTitle {
  color: #dd7697;
}
#main.performance .mCVideoTitle {
  color: #f7ab00;
}
#main.venue .mCVideoTitle {
  color: #7fd4db;
}
.mCVideoCode {
  float: left;
  width: 100%;
  padding-left: 20px;
}
.mCVideoCode iframe {
  float: left;
  margin: 0px 20px 20px;
}
.mCNews {
  float: left;
  width: 960px;
  padding: 20px 0px;
  border-bottom: #e0e0e0 1px solid;
}
.mCard.news {
  padding: 20px 30px;
}
.mCNewsCover {
  float: left;
  margin-right: 40px;
}
.mCNewsContent {
  float: left;
  width: 800px;
}
.mCNewsTitle {
  float: left;
  margin-bottom: 5px;
  width: 100%;
  font-size: 16px;
}
#main.artist .mCNewsTitle {
  color: #dd7697;
}
#main.performance .mCNewsTitle {
  color: #f7ab00;
}
#main.venue .mCNewsTitle {
  color: #7fd4db;
}
.mCNewsDate {
  float: left;
  margin-bottom: 10px;
  width: 100%;
  font-size: 12px;
}
.mCNewsSummary {
  float: left;  width: 100%;  
  margin-bottom: 10px;
  height: 54px;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
}
.mCMapTop {
  float: left;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.mCMapColumn {
  float: left;
  width: 310px;
  margin: 0px 5px 0px 25px;
}
.mCMapTitle {
  float: left;
  font-size: 16px;
  width: 50px;
}
#main.artist .mCMapTitle {
  color: #dd7697;
}
#main.performance .mCMapTitle {
  color: #f7ab00;
}
#main.venue .mCMapTitle {
  color: #f7ab00;
}
.mCMapDesc {
  float: left;
  width: 260px;
  line-height: 20px;
}
.mCMapBottom {
  float: left;
  width: 100%;
}
.mCMapEmbed {
  float: left;
  margin-left: 75px;
}
.mCard.schedule {
  padding: 40px 30px;
}
.mCScheForm {
  float: left;
  width: 820px;
  border: #cecece 1px solid;
}
.mCScheForm th,
.mCScheForm td {
  height: 40px;
  padding: 8px 10px;
  text-align: center;
  border: #cecece 1px solid;
  border-collapse: collapse;
}
.mCScheForm th {
  background-color: #cecece;
}
.mCScheForm tr.formRowOdd td {
  background-color: #f4f3f3;
}
.mCScheForm tr.formRowEven td {
  background-color: #e6e6e6;
}
.scheduleDate {
  width: 150px;
}
.scheduleVenue {
  width: 200px;
}
.scheduleTitle {
  width: 350px;
}
.scheduleBook {
  width: 100px;
}
.scheduleButton {
  float: left;
  position: relative;
  width: 80px;
  height: 20px;
  cursor: pointer;
}
.scheduleButton.soldout{
  cursor: default;
}
.mCScheForm td.scheduleBook{
  padding: 4px 8px 4px 10px;
}
#main.artist .scheduleButton.soldout,
#main.performance .scheduleButton.soldout,
#main.venue .scheduleButton.soldout{
  background: url(../img/sprite.png) no-repeat;
  background-position: -80px -170px;
}
#main.artist .scheduleButton {
  background-color: #dd7697;
}
#main.performance .scheduleButton {
  background-color: #f7ab00;
}
#main.venue .scheduleButton {
  background-color: #7fd4db;
}
.buttonCart {
  position: absolute;
  top: 0px;
  left: 30px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -106px -135px;
}


.accLoginBack { color:white; text-align:center; padding:; }